.manage-bookings-container {
    max-width: 1350px;
    margin: 80px auto;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manage-bookings {
    margin-top: 60px;
}

.manage-booking {
    max-width: 900px;
    height: 70px;
    margin-top: 10px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    background-color: #FF0100;
}

.manage-booking span {
    margin: 0 10px;
}

.manage-bookings button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
}