.booking-container {
    max-width: 1350px;
    margin: 80px auto;
    padding: 0 50px;
}

.booking {
    display: flex;
}

.booking-left {
    max-width: 55%;
}

.booking-left img {
    width: 100%;
}

.booking-title {
    margin-top: 15px;
    font-size: 25px;
    color: #FF0100;
}

.booking-left p {
    font-size: 17px;
    margin-top: 20px;
}

.booking-right {
    max-width: 45%;
}

.booking-form {
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.booking-form input,
.booking-form button {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 5px;
}

.booking-form input {
    padding-left: 8px;
    background: none;
    border: 1px solid lightgray;
}

.booking-form input:focus {
    outline: 2px solid rgba(0, 0, 128, 0.4);
}

.booking-submit-btn {
    border: none;
    color: white;
    background-color: #FF0100;
}

.booking-success {
    background-color: rgb(24, 196, 33);
}