.booking-container {
    max-width: 1350px;
    margin: 80px auto;
    padding: 0 50px;
}

.booking {
    display: flex;
}

.booking-left {
    max-width: 55%;
}

.booking-left img {
    width: 100%;
}

.booking-title {
    margin-top: 15px;
    font-size: 25px;
    color: #FF0100;
}

.booking-left p {
    font-size: 17px;
    margin-top: 20px;
}

.booking-right {
    max-width: 45%;
}