.offer {
    height: 700px;
    background: url("../../../images/offerBanner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-text {
    max-width: 600px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}


.offer-text h1 {
    font-size: 45px;
    margin: 10px 0;
}

.offer-price {
    margin: 10px 0;
}